@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .flex-center {
    @apply flex items-center justify-center;
  }
  .logoStyle {
    @apply flex h-10 w-10 items-center justify-center rounded-[0.7rem] border-[0.5px] border-gray-500;
  }
  .flex-row-between {
    @apply flex items-center justify-between;
  }
  .checkoutInput {
    @apply w-full rounded-lg border border-[#E5E5E5] px-3 py-[0.75rem] outline-none focus:border-[#707072];
  }
  .btn-Primary {
    @apply rounded-3xl border border-black px-6 py-[0.7rem] text-[17px] font-[500];
  }
}

/* html {
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
} */

::-webkit-scrollbar {
  background-color: #d9d9d9;
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #888686;
  border-radius: 7px;
}

#cs12-Sli {
  -webkit-appearance: none;
  width: 100%;
  height: 7px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  cursor: pointer;
  background: linear-gradient(to right, black 50%, #d3d3d3 0%);
}
#cs12-Sli::-webkit-slider-thumb {
  appearance: none;
  background-color: black;
  width: 14px;
  height: 14px;
  border-radius: 100%;
}
#cs12-Sli::-moz-slider-thumb {
  appearance: none;
  background-color: black;
  width: 14px;
  height: 14px;
  border-radius: 100%;
}

#cs12-Sli-2 {
  -webkit-appearance: none;
  width: 9rem;
  height: 4px;
  border-radius: 5px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  cursor: pointer;
  background: linear-gradient(to right, white 50%, #333b45 0%);
}
#cs12-Sli-2::-webkit-slider-thumb {
  appearance: none;
  background-color: white;
  width: 14px;
  height: 14px;
  border-radius: 100%;
}
#cs12-Sli-2::-moz-slider-thumb {
  appearance: none;
  background-color: white;
  width: 14px;
  height: 14px;
  border-radius: 100%;
}

#cs12-Sli-tool {
  appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: white;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  cursor: pointer;
  background: linear-gradient(to right, white 10%, #3f4a57 0%);
}
#cs12-Sli-tool::-webkit-slider-thumb {
  appearance: none;
  background-color: white;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

#border_dashed {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='14' ry='14' stroke='%23707070FF' stroke-width='2' stroke-dasharray='3%2c6' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 14px;
  background-position: center;
}

.calendar-dates li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.selectedLI::before {
  background-color: black;
}

.calendar-dates li::before {
  position: absolute;
  content: "";
  z-index: -1;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.calendar-dates li:hover::before {
  background-color: black;
}
.cust-btn {
  background-image: linear-gradient(90deg, black 100%, black 100%);
  transition: all 0.3s ease-in-out;
}
.cust-btn:hover {
  background-image: linear-gradient(
    90deg,
    #ff0000 0%,
    rgba(255, 138, 0, 0.845) 14.64%,
    rgba(241, 231, 0, 0.725) 27.77%,
    #10cb00 39.38%,
    #00cde9 51.5%,
    #0009e9 64.12%,
    #ad00e9 77.24%,
    #e90062 87.84%,
    #e90000 99.46%
  );
}

canvas {
  width: 100%;
  height: 100%;
}

.cs-in-1 {
  padding: 0.4rem 1.2rem;
  background-color: white;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.PhoneInput {
  display: flex;
  flex-direction: row-reverse;
}
.PhoneInputCountryIcon {
  width: 35px;
}
.PhoneInputCountry {
  display: flex;
  flex-direction: row-reverse;
  select {
    width: 20px;
  }
  img {
    border: 1px solid black;
    border-radius: 3px;
  }
}

.PhoneInputInput:focus .ph-in {
  border: 1px solid #707072 !important;
}

.stdropdown-item:hover {
  background: rgba(0, 0, 0, 0.233) !important;
}

.stdropdown-item.selected {
  background: rgba(0, 0, 0, 0.623) !important;
}

.stdropdown-container {
  padding: 0.2rem 0 !important;
  border-radius: 8px !important;
  border: 1px solid #e5e5e5 !important;
}

input#size::-webkit-outer-spin-button,
input#size::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.chrome-picker {
  width: 100% !important;
  background-color: transparent !important;
  box-shadow: none !important;
  border-radius: 5px !important;
  overflow: hidden;
}

.chrome-picker > div:nth-child(2) > .flexbox-fix:nth-child(2) {
  @apply flex-center items-start;
}
.chrome-picker svg {
  fill: white !important;
  background-color: transparent !important;
}
.chrome-picker > div:nth-child(2) > .flexbox-fix:nth-child(2) {
  display: none !important;
}

.chrome-picker {
  font-size: 1rem;
}
.chrome-picker input {
  outline: none;
  background-color: #3f4a57;
  color: white !important;
  border: none;
}

canvas[data-engine] {
  width: 100vw !important;
  height: 100vh !important;
}

/* Remove buttons of a input type number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

#smSCroll::-webkit-scrollbar {
  width: 5px;
}
